# 邻接表->邻接矩阵

<ul>

<li> 这个程序是用来讲邻接表信息转化为邻接矩阵信息 </li>

<li> 对应于推荐时经常使用到的用户-物品交互信息转化为矩阵 </li>
    
</ul>

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame([])
data['A'] = ['a1','a1','a2']
data['B'] = ['b1','b2','b3']
data.rename({'A':'userId','B':'itemId'},axis=1,inplace=True)
data

  userId itemId
0     a1     b1
1     a1     b2
2     a2     b3

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
data1 = data.groupby('userId')['itemId'].apply(','.join).reset_index()
corpus = data1.itemId.values
vector = CountVectorizer()
x = vector.fit_transform(corpus)
x1 = pd.DataFrame(x.toarray())
pd.concat([data1,x1],axis=1)

  userId itemId  0  1  2
0     a1  b1,b2  1  1  0
1     a2     b3  0  0  1